fastapi
uvicorn[standard]
httpx
python-dotenv
docxtpl
docx2pdf
python-multipart
pypdf
docx
python-docx
googlesearch-python
google-api-python-client
jsonschema
beautifulsoup4
mysql-connector-python
bcrypt
pydantic[email]
fastapi-mail
PyJWT
pytesseract
opencv-python
pillow
google-generativeai
gtts
pyttsx3